body, html {
    font-family: 'Pixelated MS Sans Serif', 'MS Sans Serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
}

.screen {
    display: none;
}

#gameView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

/* Toast Notification Styles */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-container .window {
    min-width: 225px; /* Set a reasonable minimum width */
}

.toast-container.show {
    opacity: 1;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    min-width: 225px; /* Set a reasonable minimum width */
}

.toast.show {
    opacity: 1;
}

.toast.toast-info {
    background-color: #007bff; /* A pleasant blue */
}

.toast.toast-error {
    background-color: #dc3545; /* A standard red for errors */
}
