{% extends "base.tera.html" %}

{% block title %}Game Over{% endblock title %}

{% block body_attributes %}{% endblock body_attributes %}

{% block body %}
<script id="server-context" type="application/json">{{ ctx | json_encode | safe }}</script>
<div id="gameView">
    <div class="window" style="margin: 32px; width: 500px">
        <div class="title-bar">
            <div id="gameViewTitle" class="title-bar-text">Game Over</div>
             <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <div id="gameFinished" class="screen">
                <h3 style="text-align:center;">Game Over!</h3>
                <p id="winnerText" style="text-align:center; font-size: 1.2em; margin: 20px;"></p>
                <section class="field-row" style="justify-content: center">
                    <button>Back to Main Menu</button>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script type="module" src="/static/js/game_over.js"></script>
{% endblock scripts %} 