{% extends "base.tera.html" %}

{% block title %}Hitman Game{% endblock title %}

{% block body_attributes %}{% endblock body_attributes %}

{% block body %}
<script id="server-context" type="application/json">{{ ctx | json_encode | safe }}</script>
<div id="gameView">
    <div class="window" style="margin: 32px; width: 500px">
        <div class="title-bar">
            <div id="gameViewTitle" class="title-bar-text">Hitman</div>
             <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <div id="gamePlaying" class="screen">
                <fieldset>
                    <legend>Your Secret Code</legend>
                    <p>When your assassin finds you, they will ask for this code to confirm the kill.</p>
                    <p id="playerSecretCode" style="font-weight: bold; font-size: 1.5rem; text-align: center; letter-spacing: 3px; margin: 10px 0;"></p>
                </fieldset>
                <fieldset id="targetInfo">
                    <legend>Your Target</legend>
                </fieldset>
                <fieldset>
                    <legend>Assassination</legend>
                    <div class="field-row-stacked">
                        <label for="assassinationCode">Enter target's secret code:</label>
                        <input id="assassinationCode" type="text" />
                    </div>
                    <div class="field-row" style="justify-content: flex-end">
                        <button>Assassinate</button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Active Players</legend>
                    <ul id="gamePlayerList" class="tree-view"></ul>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script type="module" src="/static/js/game.js"></script>
{% endblock scripts %} 